body {
  /* background-color: rgb(26, 32, 44); */
  background: rgb(28, 28, 171);
  background: radial-gradient(
    circle,
    rgba(28, 28, 171, 1) 0%,
    rgba(58, 62, 79, 1) 100%
  );
  color: white;
}

h1 {
  text-transform: capitalize;
  margin-left: 15px;
  margin-bottom: 20px;
}

h2 {
  margin-left: 15px;
  font-size: 25px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 5px double white;
  border-radius: 5px;
  margin-top: 10px;
  height: 600px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

img {
  width: 350px;
}

.types {
  margin-top: 10px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
}
