body {
  background-color: rgb(26, 32, 44);
  color: white;
}

h1 {
  margin-left: 15px;
}

h2 {
  margin-left: 15px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 10px;
}

img {
  width: 350px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
}
